@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format("woff2"),
       url("../fonts/cuprum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
       url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
       url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

html { 
    box-sizing: border-box; 
}

*, *::before, *::after {
     box-sizing: inherit; 
}

body {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;

    background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
  }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    
    background-color: #ee3643;
    border-radius: 4px;
}

.button:hover {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

.header-top {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    background-color: #293449;
}

.header-top-container {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    display: flex;

}

.header-top-container a {
    color: #ffffff;
}

.header-logo {
    width: 220px;
    padding-top: 9px;
    padding-bottom: 8px;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;

    background-color: #ee3643;
    box-shadow: 0 5px #b52933;
}

.header-logo:hover {
    background-color: #ca2c37;
}

.header-logo:active {
    background-color: #ba2732;
}

.search-form p{
    width: 270px;
    margin: 0;
    padding-left: 50px;
    position: relative;

    outline: 1px solid yellow;
}

.search-form p::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5%;
    width: 20px;
    height: 20px;

    background: url("../img/icon-search.svg") no-repeat 50% 50%;
    opacity: 0.3;
}

.search-form p:hover::before {
    opacity: 1;
}

.search-form p:active::before {
    opacity: 0.5;
}

.search-form input[type="search"] {
    background-color: #293449;
    border: none;
    height: 100%;
}

.search-form input[type="search"]:hover {
    background-color: #212a3a;
}

.search-form input[type="search"]:focus {
    color: #000000;

    background-color: #ffffff;
}


.bookmarks {
    display: block;
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 44px;
    padding-right: 28px;
}

.bookmarks::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 13px;
    width: 20px;
    height: 20px;

    background: url("../img/icon-bookmark.svg") no-repeat 50% 50%;
    opacity: 0.3;
}

.bookmarks:hover::before {
    opacity: 1;
}

.bookmarks:active::before {
    opacity: 0.5;
}

.cart {
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    /*padding-right: 31px;*/
    width: 151px;
    text-align: center;
}

.cart::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 15px;
    width: 20px;
    height: 20px;

    background: url("../img/icon-cart.svg") no-repeat 50% 50%;
    opacity: 0.3;
}

.cart:hover::before {
    opacity: 1;
}

.cart:active::before {
    opacity: 0.5;
}

.cart:hover,
.bookmarks:hover {
    background-color: #212a3a;
}

.cart:active,
.bookmarks:active {
    background-color: #161d29;
}

.order-button {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 21px;

    background-color: #63a63e;
}

.order-button:hover {
    background-color: #5fbb2d;
}

.order-button:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #518534;
}

/** ----------------- */

.header-bottom {
    background-color: #f3f7f9;
    
}

.header-bottom-container {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 65px;
    margin: 0 auto;
}

.header-bottom-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-bottom-container a {
    color: #ffffff;
}

.company-info {
    display: flex;
    padding-left: 50px;
    padding-top: 46px;
    padding-bottom: 42px;
}

.company-info h1,
.company-info strong {
    width: 200px;
    margin: 0;
    margin-right: 71px;
    padding-top: 2px;
    padding-left: 2px;

    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    line-height: 23px;
    color: #ee3643;
}

.company-info .header-contacts {
    margin-right: 50px;
    text-align: center;
}

.header-contacts .phone {
    display: block;
    position: relative;
    border: 3px solid #ffffff;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 70px;
    padding-right: 49px;
    margin-bottom: 5px;

    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
}

.header-contacts .phone::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 10px;
    width: 20px;
    height: 20px;

    background: url("../img/icon-phone.svg") no-repeat 50% 50%;
}

.header-contacts address {
    font-size: 14px;
    line-height: 21px;
    font-style: normal;
    color: #32425c;
}

.company-info .account {
    display: flex;
    align-items: flex-start;
    margin-left: 19px;
    
    text-align: center;
}

.account a,
.user-account-login a {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    
    background-color: #ffffff;
}

.account a:hover {
    color: #ee3643;
}

.account a:active {
    color: rgba(0, 0, 0, 0.3);
}

.account .account-login {
    position: relative;

    padding-left: 48px;
    padding-right: 25px;
    margin-right: 10px;
}

.account .account-login::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 14px;
    width: 20px;
    height: 20px;

    background: url("../img/icon-login.svg") no-repeat 50% 50%;
}

.account .account-login:hover::before {
    background: url("../img/icon-login-hover.svg") no-repeat 50% 50%;
}

.account .account-login:active::before {
    background: url("../img/icon-login.svg") no-repeat 50% 50%;
}

.account .account-reg {
    padding-left: 24px;
    padding-right: 24px;
}

/**----------------*/

.header-bottom-container .main-nav {
    display: flex;
    justify-content: space-between;   
    background-color: #32425c;
    box-shadow: 0 5px #293449;
}

.main-nav .menu-item {
    flex-grow: 1;
}

.menu-item a {
    display: block;
    padding: 19px 30px;
    
    text-align: center;
    font-size: 17px;
    line-height: 17px;

    
}

.menu-item:first-child a {
    padding-left: 52px;
    
}

.menu-item:last-child a {
    padding-right: 54px;
}

.menu-item a:hover {
    background-color: #293449;
}

.menu-item a:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #1d2739;
}

/**----------------*/

.main-wrapper {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.promo {
    padding-top: 58px;
    padding-bottom: 53px;
}

.promo-container1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.promo-box {
    width: 300px;
    padding-top: 21px;
    padding-left: 23px;
    padding-bottom: 22px;
    position: relative;
}

.promo-box b {
    display: block;
    margin-bottom: 12px;

    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
}

.promo-box a {
    display: block;
    width: 135px;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 24px;
    margin-left: 2px;
    position: relative;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;   
}

.promo-box a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.promo-box a:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.promo-box.materials {
    background-color: #ffbf47;
}

.promo-box.materials::after {
    content: "";
    position: absolute;
    top: 29px;
    right: 42px;
    width: 46px;
    height: 68px;

    background: url("../img/promo-icon-1.svg") no-repeat 50% 50%;
}

.promo-box.tool {
    background-color: #3bbce3;
}

.promo-box.tool::after {
    content: "";
    position: absolute;
    top: 32px;
    right: 27px;
    width: 77px;
    height: 63px;

    background: url("../img/promo-icon-2.svg") no-repeat 50% 50%;
}

.promo-box.technic {
    background-color: #dc91d8;
}

.technic a {
    padding-left: 30px;
}

.promo-box.technic::after {
    content: "";
    position: absolute;
    top: 31px;
    right: 30px;
    width: 80px;
    height: 64px;

    background: url("../img/promo-icon-3.svg") no-repeat 50% 50%;
}

.promo-box.sale {
    background-color: #8ed78f;
    margin-bottom: 19px;
}

.promo-box.sale::after {
    content: "";
    position: absolute;
    top: 27px;
    right: 44px;
    width: 61px;
    height: 72px;

    background: url("../img/promo-icon-4.svg") no-repeat 50% 50%;
}

.promo-box.delivery {
    padding-top: 22px;
    background-color: #ffc047;
}

.delivery a {
    padding-left: 37px;
}

.promo-box.delivery::after {
    content: "";
    position: absolute;
    top: 32px;
    right: 31px;
    width: 79px;
    height: 64px;

    background: url("../img/promo-icon-5.svg") no-repeat 50% 50%;
}

.promo-box.slide {
    width: 620px;
    margin-right: 20px;
    outline: 1px solid red;
    background-color: rgba (255, 71, 119, 0.3)
}

.promo-container2 {
    display: flex;
}

.popular-items h2,
.brands h2,
.service h2,
.about-us h2,
.contacts h2,
.about-items-container h2,
h1.page-title {
    margin: 0;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    text-transform: uppercase;
    
}

.about-us p,
.contacts p,
.about-items-container p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    margin: 0;
}

.promo {
    
    outline: 1px dotted green;
}
/** ТИТУЛ */
.popular-items .section-title,
.brands .section-title,
h1.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 28px;
    padding-right: 24px;
    padding-top: 26px;
    padding-bottom: 26px;
    
    
    background-color: #f9f5f0;
    color: #32425c;

    
}
/** КНОПКА*/
.popular-items .button-section-title,
.brands .button-section-title {
    width: 253px;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;   
}

/** СПИСОК ТОВАРОВ*/
.catalog-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 18px;
    padding-bottom: 18px;
}

.catalog-list .list-item {
    width: 220px;
    margin-right: 20px;
    position: relative;
    padding-bottom: 5px;
    border: 1px solid #ebebeb;
}

.catalog-list .list-item:last-child {
    margin-right: 0;
}

.catalog-list .list-item:hover {
    box-shadow: 0 7px 25px 7px #ccced3;
}



.list-item.new::after,
.promo-box.new::after {
    content: "";
    position: absolute;
    top: -2px;
    right: 0px;
    width: 60px;
    height: 60px;

    background: url("../img/newflag-index.png") no-repeat 50% 50%;
}

.catalog-list h3 {
    margin: 0;
    
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    
}

.list-item-title {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.list-item-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 180px;
    text-align: center;
}

.list-item-image img {
    outline: 1px solid yellow;
}

.list-item-price {
    margin: 0;
}

.previous-price {
    display: block;
    width: 142px;
    padding: 10px 35px;
    margin: 0 auto;
    margin-bottom: -1px;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: #a9a9a9;
    text-decoration: line-through;
 }

 .previous-price.no-sale {
     font-size: 0px;
 }

.current-price {
    display: block;
    width: 140px;
    padding: 10px 10px;
    margin: 0 36px 0 42px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    font-weight: 700;

    background-color: #ee3643;
}
/** СКРЫТЫЕ КНОПКИ*/


.list-item-buttons {
    
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 45px;
    padding-bottom: 52px;
    width: 218px;
    height: 180px;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    
    background-color: #ffffff;
    opacity: 0;

}

.list-item:hover .list-item-buttons {
    opacity: 1;
}

.list-item-buttons .buy-button {
    width: 135px;
    position: relative;   
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 49px;
    padding-right: 45px;
    
    color: #ffffff;
    text-transform: uppercase;
    
    background-color: #63a63e;
    box-shadow: 0 3px #367315;
    border-radius: 4px;
}

.list-item-buttons .buy-button::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 12px;
    width: 20px;
    height: 20px;

    background: url("../img/icon-cart.svg") no-repeat 50% 50%;
    opacity: 0.3;
}

.buy-button:hover::before {
    opacity: 1;
}

.list-item-buttons .buy-button:hover {
    background-color: #5fbb2d;
}

.list-item-buttons .buy-button:active {
    background-color: #518534;
}

.list-item-buttons .bookmarks-button {
    width: 135px;
    padding-top: 10px;
    padding-bottom: 10px;

    color: #32425c;
    text-transform: uppercase;

    border-color: #63a63e;
    background-color: #ffffff;
    border-radius: 4px;
}

.list-item-buttons .bookmarks-button:hover {
    border-color: #32425c;

}

.list-item-buttons .bookmarks-button:active {
    color: rgba(50, 66, 92, 0.3);

    
}

/**--------------------------------------*/
/**BRANDS*/

.brands .section-title {
    padding-left: 25px;
    
}

.brands .brands-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 65px;

    outline: 1px dotted green;
}

.brands-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 145px;
    margin-bottom: 20px;
    border: 1px solid #ebebeb; 
    
}

.brands-list a:hover {
    box-shadow: 0 7px 25px 5px #ccced3;
}

.service {
    min-height: 520px; /** времменно ****/
    padding-top: 65px;
   
    background-color: #f4f8fa;

    outline: 2px solid green;
}
.service h2 {
    margin-bottom: 28px;
}

.service p {
    margin: 0;
    width: 400px;
    padding-left: 1px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;

}

.service-slider {
    display: none;
}
.section-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 85px;

    outline: 2px solid green;
}

.section-wrapper .about-us {
    width: 540px;
    background-color: #ffffff;
}

.about-us h2 {
    margin-bottom: 29px;
}
.about-us p {
    width: 520px;
}

.about-us p:nth-of-type(1)  {
    margin-bottom: 24px;
}

.about-us p:nth-of-type(2) {
    margin-bottom: 20px;
    padding-right: 120px;
}

 .about-us ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 36px;
    font-size: 18px;
    line-height: 20px;
 }

 .transport-companies li {
    position: relative;
    margin-bottom: 20px;
 }

 .transport-companies li::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -36px;
    width: 25px;
    height: 3px;

    background-color: #ee3643;
 }

 .transport-companies li:last-child {
    margin-bottom: 35px;
 }

.about-us .button-about-us {
    display: block;
    width: 220px;
    padding-top: 10px;
    padding-bottom: 10px;

}

 .section-wrapper .contacts {
     width: 300px;
 }

 .contacts h2 {
     margin-bottom: 29px;
 }

 .contacts p {
    width: 180px;
    margin-bottom: 30px;
}

.contacts .map {
    margin-bottom: 36px;
}

.contacts .button-write-us {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-top {
    background-color: #32425c;
}

.footer-bottom {
    background-color: #293449;
}

.footer-top-container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 48px;
    margin: 0 auto;

    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.footer-logo {
    width: 220px;
    display: block;
    margin-right: 170px;
    margin-bottom: 34px;
    padding-top: 17px;
    padding-bottom: 16px;

    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;

    background-color: #ee3643;
    box-shadow: 0 5px #b52933;
}

.footer-logo:hover {
    background-color: #ca2c37;
}

.footer-logo:active {
    background-color: #ba2732;
}

.footer-contacts {
    margin-right: auto;
    padding-left: 2px;
    
}

.footer-top address {
    font-style: normal;
}
.footer-top ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.first-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    margin: 0;
    padding: 0;
    
    
    
}

.first-nav-list a {
    color: #ffffff;
}

.first-nav-list a:hover {
    text-decoration: underline;
}

.first-nav-list a:active {
    color: rgba(241, 245, 247, 0.5);
    text-decoration: none;
}

.second-nav-list {
    display: flex;
    justify-content: space-between;
    width: 526px;
    margin: 0;
    padding: 0;

    
}

.second-nav-list a {
    color: #ffd180;
}

.second-nav-list a:hover {
    text-decoration: underline;
}

.second-nav-list a:active {
    color: rgba(255, 209, 128, 0.5);
    text-decoration: none;
}

.footer-bottom-container {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    display: flex;

    font-size: 16px;
    line-height: 18px;
    color: #ffffff;

    
    
}

.footer-bottom .footer-copyrights {
    width: 240px;
    margin: 0;
    padding-top: 35px;
    padding-bottom: 30px;
    margin-right: 150px;
}

.footer-bottom .social {
    display: flex;
    justify-content: space-between;
    width: 132px;
    margin-right: 120px;
    padding-top: 35px;
    padding-bottom: 30px;
    padding-left: 3px;
        
    
}

.social .social-button {
    display: block;
    width: 40px;
    height: 40px;
            
    color: #ffffff;
    text-indent: -1000px;
        
    background-color: #212a3a;
    border-radius: 50%;
}

.social .social-vk {
    background-image: url("../img/icon-vk.svg");
    background-repeat: no-repeat;
    background-position: 7px 12px;
}

.social .social-fb {
    background-image: url("../img/fb-icon.svg");
    background-repeat: no-repeat;
    background-position: 16px 9px;
}

.social .social-ig {
    background-image: url("../img/insta-icon.svg");
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

.social .social-button:hover,
.social .social-button:active {
    background-color: #ee3643;
}

.feedback {
    width: 140px;
    margin: 0;
    padding-top: 35px;
    padding-bottom: 30px;
    margin-right: 52px;

    
}

.developers {
    width: 112px;
    margin: 0;
    padding-top: 35px;
    padding-bottom: 30px;

    
}

.feedback a,
.developers a {
    color: #ffd180;
}

.feedback a:hover,
.developers a:hover {
    text-decoration: underline;
}

.feedback a:active,
.developers a:active {
    color: #ee3643;
    text-decoration: none;
}



/** СТИЛИ ДЛЯ КАТАЛОГА **/

.filled-cart {
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    /*padding-right: 31px;*/
    width: 151px;
    text-align: center;
    background-color: #ee3643;
}

.user-account-login {
    display: flex;
    width: 300px;

    background-color: #ffffff; 
   
}

.user-account-login a {
    position: relative;
    padding-left: 48px;

    font-size:21px;
    line-height: 21px;
    color: #000000;
}

.user-account-login .user::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 14px;
    width: 20px;
    height: 20px;

    background: url("../img/icon-user.svg") no-repeat 50% 50%;
}

.user-account-login .logout::before {
    content: "";
    position: absolute;
    top: 12px;
    right: -9px;
    width: 20px;
    height: 20px;

    background: url("../img/icon-logout.svg") no-repeat 50% 50%;
}

.user-account-login a:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-account .user-account-menu {
    display: flex;
    padding-top: 8px;
}

.user-account-menu a {
    display: block;
    font-size:16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
    margin-left: 18px;
}

.user-account-menu .my-orders {
    position: relative;
    margin-right: 17px;
}

.user-account-menu .my-orders:after {
    content: "";
    position: absolute;
    top: 7px;
    right: -20px;
    width: 4px;
    height: 4px;

    background: #32425c;
    border-radius: 50%;
}

.user-account-menu a:hover {
    color: #ee3643;
    text-decoration: underline;
}

.user-account-menu a:active {
    color: rgba(50, 66, 92, 0.3);
    text-decoration: underline;
}

.bread-crumb {
    display: flex;
    margin: 0;
    padding: 21px 0;
    

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    list-style: none;
}

.bread-crumb-item {
    position: relative;
    margin-right: 25px;
}

.bread-crumb-item::after {
    content: "";

    position: absolute;
    top: 0;
    right: -10px;

    width: 10px;
    height: 14px;

    background: url("../img/icon-right-small.svg") no-repeat 50% 50%;
}

.bread-crumb-current::after {
    display: none;
}

.bread-crumb a {
    display: block;
    margin-right: 15px;

    color: #000000;
}

h1.page-title {
    padding-left: 28px;
    padding-right: 24px;
    padding-top: 28px;
    padding-bottom: 28px;
    
    
    background-color: #f2f6f8;
    color: #32425c;
}

.catalog-section-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.filters-title,
.sort {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;

    background-color: #f7f3ec;
}

.filters h2,
.sort h2 {
    margin: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    
}

.filters {
    
    width: 220px;
    margin-right: 20px;

    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;

    
}

.filters ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-form {
    padding-top: 12px;
}

.filters fieldset {
    margin: 0;
    padding: 0;
    padding-bottom: 21px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
}

.filters .power-type {
    border-bottom: none;
}

.filters legend {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.filters li {
    font-size: 15px;
    line-height: 20px;
}
.price legend {
    padding-bottom: 15px;
}

.price  div {
    display: inline-block;
}

.price .range {
    width: 220px;
    min-height: 80px; /*ВРЕМЕННО */
    margin-bottom: 6px;

    background-color: #f7f3ec;

    outline: 1px solid red;
}

.price .min-range,
.price .max-range {
    width: 95px;
    min-height: 38px; /**ВРЕМЕННО */

    background-color: #f7f3ec;

    outline: 1px solid red;
}

.price .min-range {
    position: relative;
    margin-right: 25px;
}

.price .min-range::after {
    content: "";
    position: absolute;

    width: 10px;
    height: 1px;
    top: 19px;
    right: -20px;

    background-color: #000000;
}

.producers legend {
    padding-top: 16px;
}

.producers label,
.power-type label {
    text-transform: uppercase;
}

.producers input[type="checkbox"],
.power-type input[type="radio"] {
    display: none;
}
.producers .producers-filter,
.power-type .power-type-filter {
    padding-top: 14px;
    padding-left: 35px;

}

.producers-filter li,
.power-type li {
    position: relative;
    margin-bottom: 20px;
}

.producers-filter li:last-child {
    margin-bottom: 0;
}

.producers-filter li::before {
    position: absolute;
    content: "";
    
    width: 23px;
    height: 23px;
    left: -35px;
    top: -2px;

    background: url("../img/checkbox-off.svg") no-repeat 50% 50%;
}

.producers-filter li::after {
    position: absolute;
    content: "";
    display: none;

    width: 26px;
    height: 23px;
    left: -35px;
    top: -2px;

    background: url("../img/checkbox-on.svg") no-repeat 50% 50%;
}

.power-type .power-type-filter {
    padding-bottom: 36px;
}

.power-type legend {
    padding-top: 19px;
}

.power-type li::before {
    position: absolute;
    content: "";
    
    width: 25px;
    height: 25px;
    left: -36px;
    top: -3px;

    border: 3px solid #c5c5c5;
    border-radius: 50%;
}

.power-type li::after {
    position: absolute;
    content: "";
    display: none;
    width: 9px;
    height: 9px;
    left: -28px;
    top: 5px;

    background-color: #c5c5c5;
    border-radius: 50%;
}

.filters .result-button {
    width: 140px;
    padding-top: 10px;
    padding-bottom: 8px;

    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;

    background-color: #ffffff;
    border: 1px solid #e5e5e5;
}

.sort {
    display: flex;
}

.sort-title h2 {
    margin: 0;
    margin-right: 140px;
}

.sort .sort-functions {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.sort-functions .sort-button {
    display: block;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px; 
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
}

.sort-button.price {
    margin-right: 72px;
}

.sort-button.type {
    margin-right: 66px;
}

.sort-button.function {
    margin-right: 46px;
}

.item-catalog .catalog-list {
    flex-wrap: wrap;
    justify-content: space-between;;
    width: 700px;
    padding-top: 21px;
    padding-bottom: 10px;
}

.item-catalog .list-item {
    margin: 0;
    margin-bottom: 20px;
    padding-bottom: 19px;
}

.item-catalog .previous-price {
    margin-bottom:
}

.pagination-list {
    display: flex;
    padding-top: 22px;
    padding-bottom: 58px;
    
}
.pagination-list a {
    margin-right: 10px;
    padding: 10px 15px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;

    border: 1px solid #ebebeb; 
    border-radius: 4px;
}
.pagination-list .pagination-item-current {
    color: #ffffff;

    background-color: #ee3643;
}

.pagination-list .next {
    width: 140px;
    padding-left: 29px;

    text-transform: uppercase;
}

.pagination-list a:hover {
    border-color: #bdc6ca;
}

.pagination-list a:active {
    border-color: #ee3643;
}

.about-items {
    background-color: #f2f6f8;
}

.about-items-container {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 27px;
}

.about-items-container p {
    padding-top: 26px;
    padding-bottom: 41px;
}

/*** MODAL *******************************/

.modal {
    display: none;
}

.modal-write-us {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 620px;
    padding: 46px 60px 0 80px;

    background-color: #ffffff;
    box-shadow: 0 -7px #ee3643;

    outline: 1px solid green;
}

.write-us-form {
    display: flex;
    flex-wrap: wrap;
}

/**.write-us-form div {
    display: flex;
    flex-direction: column;
    width: 220px;

}*/

.write-us-form label {
    margin-bottom: 10px;
}

.write-us-form .user-name {
    margin-right: 20px;
    margin-bottom: 20px;
}

.write-us-form .user-message {
    width: 460px;
    margin-bottom: 74px;
    height: 114px;
}

.write-us-form input[type="text"],
.write-us-form input[type="email"] {
    padding-top: 10px;
    padding-bottom: 10px;
}

.write-us-form input[type="text"],
.write-us-form input[type="email"],
.write-us-form textarea {
    padding-left: 16px;
    border-radius: 4px;
    border: 2px solid #dee3e4;
}


.user-message textarea {
    padding-top: 16px;
    height: 114px;
}

.button-send-column {
    background-color: #f4f4f4;
    outline: 1px solid red;
}

.button-send {
    width: 100%;
    border: none;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
}

/**************************************************/

.modal-cart {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 620px;
    
    background-color: #ffffff;
    box-shadow: 0 -7px #ee3643;

}

.modal-cart-container1 .modal-wrapper {
    padding-top: 62px;
    padding-bottom: 68px;
    padding-left: 180px;
}

.modal-cart-container1 b {
    display: block;
    position: relative;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;

}

.modal-cart-container1 b::before {
    position: absolute;
    content: "";

    top: -20px;
    left: -100px;

    width: 66px;
    height: 66px;

    background: url("../img/icon-modal-order.svg")
}

.modal-cart-container2 {
    background-color: #f1f1f1;
}

.modal-cart-container2 .modal-wrapper {
    padding-top: 37px;
    padding-bottom: 38px;
    padding-left: 80px;
}

.modal-cart-container2 .button-ordering,
.modal-cart-container2 .button-continue {
    display: inline-block;
    width: 220px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal-cart-container2 .button-ordering {
    margin-right: 16px;
}

.modal-cart-container2 .button-continue {
    text-transform: uppercase;

    background-color: #ffffff;
    border: none;
}