@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format("woff2"),
       url("../fonts/cuprum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
       url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
       url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

html { 
    box-sizing: border-box; 
}

*, *::before, *::after {
     box-sizing: inherit; 
}

body {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;

    background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
  }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    
    background-color: #ee3643;
    border-radius: 4px;
}

.button:hover {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

.header-top {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    background-color: #293449;
}

.header-top-container {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    display: flex;

}

.header-top-container a {
    color: #ffffff;
}

.header-logo {
    width: 220px;
    padding-top: 9px;
    padding-bottom: 8px;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;

    background-color: #ee3643;
    box-shadow: 0 5px #b52933;
}

.header-logo:hover {
    background-color: #ca2c37;
}

.header-logo:active {
    background-color: #ba2732;
}

.search-form p{
    width: 270px;
    margin: 0;
    padding-left: 50px;
    position: relative;

    outline: 1px solid yellow;
}

.search-form p::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5%;
    width: 20px;
    height: 20px;

    background: url("../img/icon-search.svg") no-repeat 50% 50%;
    opacity: 0.3;
}

.search-form p:hover::before {
    opacity: 1;
}

.search-form p:active::before {
    opacity: 0.5;
}

.search-form input[type="search"] {
    background-color: #293449;
    border: none;
    height: 100%;
}

.search-form input[type="search"]:hover {
    background-color: #212a3a;
}

.search-form input[type="search"]:focus {
    color: #000000;

    background-color: #ffffff;
}


.bookmarks {
    display: block;
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 44px;
    padding-right: 27px;
}

.bookmarks::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 13px;
    width: 20px;
    height: 20px;

    background: url("../img/icon-bookmark.svg") no-repeat 50% 50%;
    opacity: 0.3;
}

.bookmarks:hover::before {
    opacity: 1;
}

.bookmarks:active::before {
    opacity: 0.5;
}

.cart {
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 50px;
    padding-right: 30px;
}

.cart::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 15px;
    width: 20px;
    height: 20px;

    background: url("../img/icon-cart.svg") no-repeat 50% 50%;
    opacity: 0.3;
}

.cart:hover::before {
    opacity: 1;
}

.cart:active::before {
    opacity: 0.5;
}

.cart:hover,
.bookmarks:hover {
    background-color: #212a3a;
}

.cart:active,
.bookmarks:active {
    background-color: #161d29;
}

.order-button {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 23px;

    background-color: #63a63e;
}

.order-button:hover {
    background-color: #5fbb2d;
}

.order-button:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #518534;
}

/** ----------------- */

.header-bottom {
    background-color: #f3f7f9;
    
}

.header-bottom-container {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 65px;
    margin: 0 auto;
}

.header-bottom-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-bottom-container a {
    color: #ffffff;
}

.company-info {
    display: flex;
    padding-left: 50px;
    padding-top: 46px;
    padding-bottom: 42px;
}

.company-info h1,
.company-info strong {
    width: 200px;
    margin: 0;
    margin-right: 71px;
    padding-top: 2px;
    padding-left: 2px;

    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    line-height: 23px;
    color: #ee3643;
}

.company-info .header-contacts {
    margin-right: 69px;
    text-align: center;
}

.header-contacts .phone {
    display: block;
    position: relative;
    border: 3px solid #ffffff;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 70px;
    padding-right: 49px;
    margin-bottom: 5px;

    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
}

.header-contacts .phone::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 10px;
    width: 20px;
    height: 20px;

    background: url("../img/icon-phone.svg") no-repeat 50% 50%;
}

.header-contacts address {
    font-size: 14px;
    line-height: 21px;
    font-style: normal;
    color: #32425c;
}

.company-info .account {
    display: flex;
    align-items: flex-start;
    
    text-align: center;
}

.account a {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    
    background-color: #ffffff;
}

.account a:hover {
    color: #ee3643;
}

.account a:active {
    color: rgba(0, 0, 0, 0.3);
}

.account .account-login {
    position: relative;

    padding-left: 48px;
    padding-right: 25px;
    margin-right: 10px;
}

.account .account-login::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 14px;
    width: 20px;
    height: 20px;

    background: url("../img/icon-login.svg") no-repeat 50% 50%;
}

.account .account-login:hover::before {
    background: url("../img/icon-login-hover.svg") no-repeat 50% 50%;
}

.account .account-login:active::before {
    background: url("../img/icon-login.svg") no-repeat 50% 50%;
}

.account .account-reg {
    padding-left: 24px;
    padding-right: 24px;
}

/**----------------*/

.header-bottom-container .main-nav {
    display: flex;
    justify-content: space-between;   
    background-color: #32425c;
    box-shadow: 0 5px #293449;
}

.main-nav .menu-item {
    flex-grow: 1;
}

.menu-item a {
    display: block;
    padding: 19px 30px;
    
    text-align: center;
    font-size: 17px;
    line-height: 17px;

    outline: 1px solid yellow;
}

.menu-item:first-child a {
    padding-left: 52px;
    
}

.menu-item:last-child a {
    padding-right: 54px;
}

.menu-item a:hover {
    background-color: #293449;
}

.menu-item a:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #1d2739;
}

/**----------------*/

.main-wrapper {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;

    
}

.popular-items h2,
.brands h2,
.service h2,
.about-us h2,
.contacts h2,
.about-items-container h2 {
    margin: 0;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    text-transform: uppercase;
    outline: 1px solid green;
}

.about-us p,
.contacts p,
.about-items-container p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    margin: 0;
}

.promo {
    
    outline: 1px dotted green;
}
/** ТИТУЛ */
.popular-items .section-title,
.brands .section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 28px;
    padding-right: 24px;
    padding-top: 26px;
    padding-bottom: 26px;
    
    
    background-color: #f9f5f0;
    color: #32425c;

    
}
/** КНОПКА*/
.popular-items .button-section-title,
.brands .button-section-title {
    width: 253px;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;   
}

/** СПИСОК ТОВАРОВ*/
.popular-items-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-top: 18px;
    padding-bottom: 18px;
}

.popular-items-list .list-item {
    position: relative;
    padding-bottom: 5px;
    border: 1px solid #ebebeb;
}

.popular-items-list .list-item:hover {
    box-shadow: 0 0 12px #ccced3;
}

.popular-items-list .list-item:not(:last-child) {
    margin-right: 20px;
}

.list-item.new::after,
.promo-box.new::after {
    content: "";
    position: absolute;
    top: -2px;
    right: 0px;
    width: 60px;
    height: 60px;

    background: url("../img/newflag-index.png") no-repeat 50% 50%;
}

.popular-items-list h3 {
    margin: 0;
    
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    
}

.list-item-title {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.list-item-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 180px;
    text-align: center;
    
    
}

.list-item-image img {
    outline: 1px solid yellow;
    
    
    
}

.list-item-price {
    margin: 0;
}

.previous-price {
    display: block;
    width: 142px;
    padding: 10px 35px;
    margin: 0 auto;
    margin-bottom: -1px;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: #a9a9a9;
    text-decoration: line-through;
 }

 .previous-price.no-sale {
     font-size: 0px;
 }

.current-price {
    display: block;
    width: 140px;
    padding: 10px 10px;
    margin: 0 36px 0 42px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    font-weight: 700;

    background-color: #ee3643;
}
/** СКРЫТЫЕ КНОПКИ*/


.list-item-buttons {
    
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 45px;
    padding-bottom: 52px;
    width: 218px;
    height: 180px;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    
    background-color: #ffffff;
    opacity: 0;

}

.list-item:hover .list-item-buttons {
    opacity: 1;
}

.list-item-buttons .buy-button {
    width: 135px;
    position: relative;   
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 49px;
    padding-right: 45px;
    
    color: #ffffff;
    text-transform: uppercase;
    
    background-color: #63a63e;
    box-shadow: 0 3px #367315;
    border-radius: 4px;
}

.list-item-buttons .buy-button::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 12px;
    width: 20px;
    height: 20px;

    background: url("../img/icon-cart.svg") no-repeat 50% 50%;
    opacity: 0.3;
}

.buy-button:hover::before {
    opacity: 1;
}

.list-item-buttons .buy-button:hover {
    background-color: #5fbb2d;
}

.list-item-buttons .buy-button:active {
    background-color: #518534;
}

.list-item-buttons .bookmarks-button {
    width: 135px;
    padding-top: 10px;
    padding-bottom: 10px;

    color: #32425c;
    text-transform: uppercase;

    border-color: #63a63e;
    background-color: #ffffff;
    border-radius: 4px;
}

.list-item-buttons .bookmarks-button:hover {
    border-color: #32425c;

}

.list-item-buttons .bookmarks-button:active {
    color: rgba(50, 66, 92, 0.3);

    
}

/**--------------------------------------*/
/**BRANDS*/

.brands .section-title {
    padding-left: 25px;
    
}

.brands .brands-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 65px;

    outline: 1px dotted green;
}

.brands-list li {
    width: 220px;
    height: 145px;
    margin-bottom: 20px;
    border: 1px solid #ebebeb; 
    
}

.service {
    padding-top: 65px;
   
    background-color: #f4f8fa;

    outline: 2px solid green;
}

.section-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 85px;

    outline: 2px solid green;
}

.section-wrapper .about-us {
    width: 540px;
    background-color: #ffffff;
}

 .about-us ul {
    list-style: none;
    font-size: 18px;
    line-height: 20px;
 }

.about-us .button-about-us {
    display: block;
    width: 220px;
}

 .section-wrapper .contacts {
     width: 300px;
 }

.contacts .button-write-us {
    display: block;
    width: 100%;
}

.footer-top {
    background-color: #32425c;
}

.footer-bottom {
    background-color: #293449;
}

.footer-top-container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;

    font-size: 18px;
    line-height: 24px;
    color: #ffffff;

    outline: 2px solid green;

    
}

.footer-logo {
    width: 220px;
    height: 63px;
    display: block;
    margin-right: 170px;

    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;

    background-color: #ee3643;
}

.footer-logo:hover {
    background-color: #ca2c37;
}

.footer-logo:active {
    background-color: #ba2732;
}

.footer-contacts {
    margin-right: auto;
    outline: 1px solid red;
}

.footer-top address {
    font-style: normal;
}
.footer-top ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.first-nav-list {
    display: flex;
    justify-content: space-between;
    width: 550px;
    margin: 0;
    padding: 0;
    
    outline: 1px solid red;
}

.first-nav-list a {
    color: #ffffff;
}

.first-nav-list a:hover {
    text-decoration: underline;
}

.first-nav-list a:active {
    color: rgba(241, 245, 247, 0.5);
    text-decoration: none;
}

.second-nav-list {
    display: flex;
    justify-content: space-between;
    width: 526px;
    margin: 0;
    padding: 0;

    outline: 1px solid red;
}

.second-nav-list a {
    color: #ffd180;
}

.second-nav-list a:hover {
    text-decoration: underline;
}

.second-nav-list a:active {
    color: rgba(255, 209, 128, 0.5);
    text-decoration: none;
}

.footer-bottom-container {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    display: flex;

    font-size: 16px;
    line-height: 18px;
    color: #ffffff;

    outline: 2px solid green;
    
}

.footer-bottom .footer-copyrights {
    width: 230px;
    margin: 0;
    padding-top: 35px;
    padding-bottom: 30px;
    margin-right: 160px;
}

.footer-bottom .social {
    display: flex;
    justify-content: space-between;
    width: 132px;
    margin-right: auto;
    padding-top: 35px;
    padding-bottom: 30px;
        
    outline: 1px solid red;
}

.social .social-button {
    display: block;
    width: 40px;
    height: 40px;
        
    color: #ffffff;
    text-indent: -1000px;
        
    background-color: #212a3a;
    border-radius: 50%;
}

.social .social-vk {
    background-image: url("../img/icon-vk.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social .social-fb {
    background-image: url("../img/fb-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social .social-ig {
    background-image: url("../img/insta-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social .social-button:hover,
.social .social-button:active {
    background-color: #ee3643;
}

.feedback {
    width: 140px;
    margin: 0;
    padding-top: 35px;
    padding-bottom: 30px;
    margin-right: 20px;

    outline: 1px solid red;
}

.developers {
    width: 112px;
    margin: 0;
    padding-top: 35px;
    padding-bottom: 30px;

    outline: 1px solid red;
}

.feedback a,
.developers a {
    color: #ffd180;
}

.feedback a:hover,
.developers a:hover {
    text-decoration: underline;
}

.feedback a:active,
.developers a:active {
    color: #ee3643;
    text-decoration: none;
}

.modal {
    display: none;
}

/** СТИЛИ ДЛЯ КАТАЛОГА **/

.filled-cart {
    background-color: #ee3643;
}

.user-account-login {
    display: flex;
    width: 300px;

    background-color: #ffffff; 

    outline: 1px solid red;
}

.user-account-login a {
    font-size:21px;
    line-height: 21px;
    color: #000000;
}

.user-account-login a:active {
    color: rgba(0, 0, 0, 0.3);
}
.user-account {
    outline: 2px solid red;
}

.user-account-menu {
    display: flex;
}

.user-account-menu a {
    display: block;
    font-size:16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
    margin-left: 18px;
}

.user-account-menu a:hover {
    color: #ee3643;
    text-decoration: underline;
}

.user-account-menu a:active {
    color: rgba(50, 66, 92, 0.3);
    text-decoration: underline;
}

.bread-crumb {
    display: flex;
    margin: 0;
    padding: 21px 0;
    

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    list-style: none;
}

.bread-crumb a {
    display: block;
    margin-right: 15px;

    color: #000000;
}

.page-title {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;

    background-color: #f2f6f8;
}

.catalog-section-container {
    display: flex;
    padding-top: 20px;
}

.filters {
    align-self: flex-start;
    width: 220px;
    margin-right: 20px;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;

    outline: 2px solid green;
}

.filters ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filters fieldset {
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid black;
}



.sort-title,
.sort {
    background-color: #f7f3ec;
}
.filters h2,
.item-catalog h2 {
    margin: 0;
    margin-left: 18px;

    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    
}

.filters legend {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.filters li {
    font-size: 15px;
    line-height: 20px;
}

.filters .result-button {
    font-size: 13px;
    line-height: 18px;
}

.sort {
    display: flex;
    margin-bottom: 20px;
    }

.sort .sort-functions {
    display: flex;
}
.sort-functions a {
    display: block;

    color: rgba(0, 0, 0, 0.3);
}
.item-catalog ul,
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
            
    outline: 2px solid green;
    
}

.catalog-list li {
    width: 220px;
    margin-bottom: 20px;
    border: 1px solid #ebebeb;
}

.catalog-list li:not(:nth-child(3n)) {
    margin-right: 20px;
}

.catalog-list .catalog-item-title {
    margin: 0;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;
}

.catalog-list .previous-price {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    text-decoration: line-through;
}

.catalog-list .current-price {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    font-weight: normal;

    background-color: #ee3643;
}

.catalog-item-buttons
 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;

}

.catalog-item-buttons .buy-button
{
    color: #ffffff;

    background-color: #63a63e;
}

.catalog-item-buttons .buy-button:hover {
    background-color: #5fbb2d;
}

.catalog-item-buttons .buy-button:active {
    background-color: #518534;
}

.catalog-item-buttons .bookmarks-button {
    color: #32425c;

    border-color: #63a63e;
    background-color: #ffffff;
}

.catalog-item-buttons .bookmarks-button:hover {
    border-color: #32425c;

}

.catalog-item-buttons .bookmarks-button:active {
    color: rgba(50, 66, 92, 0.3);

    
}

.pagination-list {
    display: flex;
    padding-top: 22px;
    padding-bottom: 50px;
    
}
.pagination-list a {
    margin-right: 10px;
    padding: 10px 15px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;

    border: 1px solid #ebebeb; 
}
.pagination-list .pagination-item-current {
    color: #ffffff;

    background-color: #ee3643;
}

.pagination-list a:hover {
    border-color: #bdc6ca;
}

.pagination-list a:active {
    border-color: #ee3643;
}

.about-items {
    background-color: #f2f6f8;
}

.about-items-container {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 72px;

    outline: 2px solid green;
}

.about-items h2,
.about-items p {
    outline: 1px solid red;
}

.about-items h2 {
    padding-bottom: 30px;
}

/**PROMO BLOCK*******************************/
.promo {
    padding-top: 58px;
    padding-bottom: 53px;
}

.promo-container1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.promo-box {
    width: 300px;
    padding-top: 21px;
    padding-left: 23px;
    padding-bottom: 22px;
    position: relative;
}

.promo-box b {
    display: block;
    margin-bottom: 12px;

    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
}

.promo-box a {
    display: block;
    width: 135px;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 24px;
    margin-left: 2px;
    position: relative;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;   
}

.promo-box a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.promo-box a:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.promo-box.materials {
    background-color: #ffbf47;
}

.promo-box.materials::after {
    content: "";
    position: absolute;
    top: 29px;
    right: 42px;
    width: 46px;
    height: 68px;

    background: url("../img/promo-icon-1.svg") no-repeat 50% 50%;
}

.promo-box.tool {
    background-color: #3bbce3;
}

.promo-box.tool::after {
    content: "";
    position: absolute;
    top: 32px;
    right: 27px;
    width: 77px;
    height: 63px;

    background: url("../img/promo-icon-2.svg") no-repeat 50% 50%;
}

.promo-box.technic {
    background-color: #dc91d8;
}

.technic a {
    padding-left: 30px;
}

.promo-box.technic::after {
    content: "";
    position: absolute;
    top: 31px;
    right: 30px;
    width: 80px;
    height: 64px;

    background: url("../img/promo-icon-3.svg") no-repeat 50% 50%;
}

.promo-box.sale {
    background-color: #8ed78f;
    margin-bottom: 19px;
}

.promo-box.sale::after {
    content: "";
    position: absolute;
    top: 27px;
    right: 44px;
    width: 61px;
    height: 72px;

    background: url("../img/promo-icon-4.svg") no-repeat 50% 50%;
}

.promo-box.delivery {
    padding-top: 22px;
    background-color: #ffc047;
}

.delivery a {
    padding-left: 37px;
}

.promo-box.delivery::after {
    content: "";
    position: absolute;
    top: 32px;
    right: 31px;
    width: 79px;
    height: 64px;

    background: url("../img/promo-icon-5.svg") no-repeat 50% 50%;
}

.promo-box.slide {
    width: 620px;
    margin-right: 20px;
    outline: 1px solid red;
    background-color: rgba (255, 71, 119, 0.3)
}

.promo-container2 {
    display: flex;
}