@font-face {
  font-family: "Cuprum";
  src: url("fonts/cuprum.woff2") format("woff2"),
       url("fonts/cuprum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("fonts/cuprumbold.woff2") format("woff2"),
       url("fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("fonts/cuprumitalic.woff2") format("woff2"),
       url("fonts/cuprumitalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

html { 
    box-sizing: border-box; 
}

*, *::before, *::after {
     box-sizing: inherit; 
}

body {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;

    background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.button {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    
    background-color: #ee3643;
}

.button:hover {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

.header-top {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    background-color: #293449;
}

.header-top-container {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    display: flex;

    outline: 2px solid green;
}

.header-top-container .header-logo {
    width: 220px;
    margin-right: 10px;

    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;

    background-color: #ee3643;
}

.header-top-container .header-logo:hover {
    background-color: #ca2c37;
}

.header-top-container .header-logo:active {
    background-color: #ba2732;
}

.header-top-container a {
    color: #ffffff;
}

.header-top-container .search-form {
    margin-right: auto;
}

.header-top-container input[type="search"] {
    background-color: #293449;
    border: none;
}

.header-top-container .cart:hover,
.header-top-container .bookmarks:hover,
.header-top-container input[type="search"]:hover {
    background-color: #212a3a;
}

.header-top-container .cart:active,
.header-top-container .bookmarks:active {
    background-color: #161d29;
}

.header-top-container input[type="search"]:focus {
    color: #000000;

    background-color: #ffffff;
}

.header-top-container .order-button {
    background-color: #63a63e;
}

.header-top-container .order-button:hover {
    background-color: #5fbb2d;
}

.header-top-container .order-button:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #518534;
}

.header-bottom {
    background-color: #f3f7f9;
    
}

.header-bottom-container {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;

    outline: 2px solid green;
}

.header-bottom-container .company-info {
    display: flex;
    padding-left: 50px;
}

.company-info h1,
.company-info strong {
    width: 200px;
    margin: 0;
    margin-right: 69px;
    outline: 2px solid red;
    
}

.company-info .header-contacts {
    width: 270px;
    margin-right: 70px;
    text-align: center;
    outline: 2px solid red;
}

.company-info .account {
    display: flex;
    width: 281px;
    text-align: center;
    
    outline: 2px solid red;
}

.header-bottom-container a {
    color: #ffffff;
}

.header-bottom-container h1,
.header-bottom-container strong {
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    line-height: 23px;
    color: #ee3643;
}

.header-bottom-container .phone {
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
}

.header-bottom-container address {
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    color: #32425c;
    
}

.header-bottom-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.account a {
    display: block;

    font-size: 21px;
    line-height: 21px;
    color: #000000;
    outline: 1px solid black;
    background-color: #ffffff;
}

.account li:nth-child(1) {
    width: 121px;
    margin-right: 10px;
}

.account li:nth-child(2) {
    width: 150px;
}

.account a:hover {
    color: #ee3643;
}

.account a:active {
    color: rgba(0, 0, 0, 0.3);
}

.header-bottom-container .main-nav {
    display: flex;
    justify-content:space-between;
    padding-left: 50px;
    padding-right: 52px;

    background-color: #32425c;
    outline: 2px solid green;
}

.main-nav a:hover {
    background-color: #293449;
}

.main-nav a:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #1d2739;
}

/** КРАСНАЯ ОБЛАСТЬ МАКЕТА, СТИЛИЗУЕМ ЕЕ ПОТОМ **/
.main-wrapper {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;

    outline: 2px solid green;
}

.popular-items h2,
.brands h2,
.service h2,
.about-us h2,
.contacts h2,
.about-items-container h2 {
    margin: 0;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    text-transform: uppercase;
}

.about-us p,
.contacts p,
.about-items-container p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    margin: 0;
}

.popular-items .section-title {
    display: flex;
    justify-content: space-between;
    padding-left:30px;
    padding-right: 24px;
    padding-bottom: 30px;
    padding-top: 30px;
    
    background-color: #f9f5f0;
    color: #32425c;

    outline: 2px solid green;
}

.popular-items .button-popular-items {
    width: 253px;
}

.popular-items .popular-items-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    
    outline: 2px solid green;
}

.popular-items-list li {

    border: 1px solid #ebebeb;
}
.popular-items-list li:not(:last-child) {
    margin-right: 20px;
}
.brands .section-title {
    display: flex;
    justify-content: space-between;
    padding-left:30px;
    padding-right: 24px;
    padding-bottom: 30px;
    padding-top: 30px;
    
    background-color: #f9f5f0;
    color: #32425c;

    outline: 2px solid green;
}

.brands .button-brands {
    width: 253px;
}

.brands .brands-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 65px;

    outline: 2px solid green;
}

.brands-list li {
    width: 220px;
    height: 145px;
    margin-bottom: 20px;
    border: 1px solid #ebebeb; 
    
}

.service {
    padding-top: 65px;
   
    background-color: #f4f8fa;

    outline: 2px solid green;
}

.section-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 85px;

    outline: 2px solid green;
}

.section-wrapper .about-us {
    width: 540px;
    background-color: #ffffff;
}

 .about-us ul {
    list-style: none;
    font-size: 18px;
    line-height: 20px;
 }

.about-us .button-about-us {
    display: block;
    width: 220px;
}

 .section-wrapper .contacts {
     width: 300px;
 }

.contacts .button-write-us {
    display: block;
    width: 100%;
}

.footer-top {
    background-color: #32425c;
}

.footer-bottom {
    background-color: #293449;
}

.footer-top-container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;

    font-size: 18px;
    line-height: 24px;
    color: #ffffff;

    outline: 2px solid green;

    
}

.footer-logo {
    width: 220px;
    height: 63px;
    display: block;
    margin-right: 170px;

    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;

    background-color: #ee3643;
}

.footer-logo:hover {
    background-color: #ca2c37;
}

.footer-logo:active {
    background-color: #ba2732;
}

.footer-contacts {
    margin-right: auto;
    outline: 1px solid red;
}

.footer-top address {
    font-style: normal;
}
.footer-top ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.first-nav-list {
    display: flex;
    justify-content: space-between;
    width: 550px;
    margin: 0;
    padding: 0;
    
    outline: 1px solid red;
}

.first-nav-list a {
    color: #ffffff;
}

.first-nav-list a:hover {
    text-decoration: underline;
}

.first-nav-list a:active {
    color: rgba(241, 245, 247, 0.5);
    text-decoration: none;
}

.second-nav-list {
    display: flex;
    justify-content: space-between;
    width: 526px;
    margin: 0;
    padding: 0;

    outline: 1px solid red;
}

.second-nav-list a {
    color: #ffd180;
}

.second-nav-list a:hover {
    text-decoration: underline;
}

.second-nav-list a:active {
    color: rgba(255, 209, 128, 0.5);
    text-decoration: none;
}

.footer-bottom-container {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    display: flex;

    font-size: 16px;
    line-height: 18px;
    color: #ffffff;

    outline: 2px solid green;

    
}

.footer-bottom ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-bottom .footer-copyrights {
    width: 230px;
    margin-right: 160px;
}

.footer-bottom .social {
    width: 135px;
    margin-right: auto;

    outline: 1px solid red;
}

.footer-bottom .social-button {
    color: #ffffff;

    background-color: #212a3a;
}

.footer-bottom .social-button:hover,
.footer-bottom .social-button:active {
    background-color: #ee3643;
}

.feedback {
    width: 140px;
    margin-right: 20px;

    outline: 1px solid red;
}

.developers {
    width: 112px;

    outline: 1px solid red;
}

.feedback a,
.developers a {
    color: #ffd180;
}

.feedback a:hover,
.developers a:hover {
    text-decoration: underline;
}

.feedback a:active,
.developers a:active {
    color: #ee3643;
    text-decoration: none;
}

.modal {
    display: none;
}

/** СТИЛИ ДЛЯ КАТАЛОГА **/

.filled-cart {
    background-color: #ee3643;
}

.user-account-login {
    display: flex;
    width: 300px;

    background-color: #ffffff; 

    outline: 1px solid red;
}

.user-account-login a {
    font-size:21px;
    line-height: 21px;
    color: #000000;
}

.user-account-login a:active {
    color: rgba(0, 0, 0, 0.3);
}
.user-account {
    outline: 2px solid red;
}

.user-account-menu {
    display: flex;
}

.user-account-menu a {
    display: block;
    font-size:16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
    margin-left: 18px;
}

.user-account-menu a:hover {
    color: #ee3643;
    text-decoration: underline;
}

.user-account-menu a:active {
    color: rgba(50, 66, 92, 0.3);
    text-decoration: underline;
}

.bread-crumb {
    display: flex;
    margin: 0;
    padding: 21px 0;
    

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    list-style: none;
}

.bread-crumb a {
    display: block;
    margin-right: 15px;

    color: #000000;
}

.page-title {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;

    background-color: #f2f6f8;
}

.catalog-section-container {
    display: flex;
    padding-top: 20px;
}

.filters {
    align-self: flex-start;
    width: 220px;
    margin-right: 20px;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;

    outline: 2px solid green;
}

.filters ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filters fieldset {
    margin: 0;
    padding: 0;
    border: none;
}



.sort-title,
.sort {
    background-color: #f7f3ec;
}
.filters h2,
.item-catalog h2 {
    margin: 0;
    margin-left: 18px;

    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    
}

.filters legend {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.filters li {
    font-size: 15px;
    line-height: 20px;
}

.filters .result-button {
    font-size: 13px;
    line-height: 18px;
}

.sort {
    display: flex;
    margin-bottom: 20px;
    }

.sort .sort-functions {
    display: flex;
}
.sort-functions a {
    display: block;

    color: rgba(0, 0, 0, 0.3);
}
.item-catalog ul,
.popular-items ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
            
    outline: 2px solid green;
    
}

.catalog-list li {
    width: 220px;
    margin-bottom: 20px;
    border: 1px solid #ebebeb;
}

.catalog-list li:not(:nth-child(3n)) {
    margin-right: 20px;
}

.popular-items-list .list-item-title,
.catalog-list .catalog-item-title {
    margin: 0;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;
}

.popular-items-list .previous-price,
.catalog-list .previous-price {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    text-decoration: line-through;
}

.popular-items-list .current-price,
.catalog-list .current-price {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    font-weight: normal;

    background-color: #ee3643;
}

.catalog-item-buttons,
.list-item-buttons {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;

}

.catalog-item-buttons .buy-button,
.list-item-buttons .buy-button {
    color: #ffffff;

    background-color: #63a63e;
}

.catalog-item-buttons .buy-button:hover,
.list-item-buttons .buy-button:hover {
    background-color: #5fbb2d;
}

.catalog-item-buttons .buy-button:active,
.list-item-buttons .buy-button:active {
    background-color: #518534;
}

.catalog-item-buttons .bookmarks-button,
.list-item-buttons .bookmarks-button {
    color: #32425c;

    border-color: #63a63e;
    background-color: #ffffff;
}

.catalog-item-buttons .bookmarks-button:hover,
.list-item-buttons .bookmarks-button:hover {
    border-color: #32425c;

}

.catalog-item-buttons .bookmarks-button:active,
.list-item-buttons .bookmarks-button:active {
    color: rgba(50, 66, 92, 0.3);

    
}

.pagination-list {
    display: flex;
    
}
.pagination-list li {
    padding-top: 32px;
    padding-bottom: 60px;
    border: 1px solid #ebebeb; 
}
.about-items {
    background-color: #f2f6f8;
}

.about-items-container {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 72px;

    outline: 2px solid green;
}

.about-items h2,
.about-items p {
    outline: 1px solid red;
}

.about-items h2 {
    padding-bottom: 30px;
}